$main: #000;

.storybook {
  font-family: monospace;
}

a {
  color: $main;
}

.button-style {
  border-color: #006600;
  border-radius: 8px;
}

.modal-style {
  border: 1px solid #000000;
  border-radius: 5px;
}
